{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-typescript"
      ]
    }
  },

  "presets": ["@babel/env", "@babel/typescript"],

  "plugins": ["@babel/syntax-dynamic-import"]
}
