// Colors
$dark-color: #000;
$black-color: #202020;
$darkGray-color: #4b4b4b;
$dimGray-color: #808080;
$gray-color: #879295;
$silver-color: #dbdbdb;
$light-color: #ebedf3;
$white-color: #fff;

// Colors
$green-color: #7bc86c;
$yellow-color: #f5dd29;
$orange-color: #ffaf3f;
$red-color: #ef7564;
$purple-color: #cd8de5;
$blue-color: #5ba4cf;
$aqua-color: #29cce5;
$lime-color: #6deca9;
$pink-color: #ff8ed4;
$night-color: #172b4d;

// Background
$background-color: #f8f8f8;
