// Breakpoints

// Desktop screens
$desktop: 1920px;
$sm-desktop: 1280px;

// Vertical and horizontal tablets
$tablet: 1024px;
$sm-tablet: 768px;

// Horizontal phones and small tablets
$phone: 475px;
$sm-phone: 320px;
